@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap");

* {
  font-family: "Work Sans";
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch>span {
  position: absolute;
  top: 10px;
  pointer-events: none;
  font-family: "Work Sans";
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked~.off {
  color: #353535;
}

input.check-toggle-round-flat:checked~.on {
  color: #808080;
}

.switch>span.on {
  left: 0;
  padding-left: 3px;
  margin-bottom: 10px;
  color: #353535;
}

.switch>span.off {
  right: 0;
  padding-right: 1px;
  color: #808080;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.check-toggle+label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat+label {
  padding: 2px;
  width: 88px;
  height: 40px;
  background-color: #ebedef;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat+label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #ebedef;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat+label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 40px;
  background-color: #fff;
  border: #d1d1d1 solid 1px;
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  -ms-border-radius: 48px;
  -o-border-radius: 48px;
  border-radius: 48px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked+label {}

input.check-toggle-round-flat:checked+label:after {
  margin-left: 40px;
}

.jumbotron{
    background-image: url(/asset/img/Produk/bg-header.png);
    max-width: 100%;
    height: 395px;
    background-size: cover;
}

.jumbotron h1{
    font-weight: 600;
    font-size: 48px;
}

.produk{
    margin-top: 100px;

}

button.filter-button{
    margin-top: 28px;
    margin-bottom: 10px;
    width: 185px;
    height: 52px;
    background-color: #fff;
    border: solid 1px #6CC049;
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    color: #6CC049;
    
}

.wrapper{
    width: 365px;
    height: 445px;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
}

.wrapper img {
    width: 285px;
    height: 285px;
}

.text-button{
    padding-top: 27px;
    padding-left: 30px;
}

.text-button h1 {
    font-weight: 600;
    font-size: 24px;
}

.text-button a {
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  color: #000;
  line-height: 28.15px;
  padding-bottom: 8px;
}

.button-card{
    font-weight: 400;
    font-size: 12px;
    background-color: #D1D1D1;
    padding: 6px 24px;
    border-radius: 4px;
    border: none;
}

.load{
    margin-top: 64px;
}

.load a{
    width: 165px;
    height: 54px;
    padding: 16px 40px;
    border-radius: 40px;
    text-decoration: none;
    color: #6CC049;
    background-color: white;
    border: 2px solid #6CC049;
    font-weight: 700;
    font-size: 16px;

}


.ilustrasi {
    border-top-right-radius: 120px;
    border-top-left-radius: 120px;
    margin-top: 146px;
    height: 401px;
    background-color: #6CC049;
  }
  
  .contact {
    margin-top: 200px;
    background-color: #65b842;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-size: cover;
    position: relative;
    height: 401px;
  }
  .contact h1 {
    position: absolute;
    margin-top: 82px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    height: 118px;
    left: 166px;
    top: 81.0546875px;
  }
  
  .button-contact {
    z-index: 20 ;
    position: absolute;
    bottom: 110px;
    margin-left: 30px;
  }
  .button-contact a {
    margin-left: 30px;
    display: flex;
  }
  .button-contact-color {
    color: #ffffff;
    background: #f29f05;
    font-weight: 500;
    width: 261px;
    height: 51px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
  }
  .button-contact-color:hover{
    background-color: #ffffff;
    font-weight: 500;
    border: 0;
    color: #f29f05;
  }
  
  .button-contact-color-b {
    left: 38px;
    background: #ffffff;
    font-weight: 500;
    color: #f29f05;
    width: 189px;
    height: 51px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
  }
  .button-contact-color-b:hover{
    background-color: #f29f05;
    font-weight: 500;
    border: 0;
    color: #ffffff;
  }
  .contact .bg-cta {
    width: 100%;
    position: absolute;
    bottom: 18px;
  }
  .contact .illustrasi {
    z-index: 1;
    position: absolute;
    bottom: -35px;
  }
  
  .footer {
    z-index: 2;
    position: relative;
    margin-top: -20px;
    background-color: #65b842;
    background-size: cover;
    height: 371px;
  }
  
  .footer .footer-alamat {
    height: 98px;
    width: 242px;
    margin-left: 100px;
    margin-top: 46px;
    border-radius: 0px;
    margin-right: 50px;
    color: #ffffff;
  }
  
  .footer h5 {
    margin-top: 46px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
  }
  .footer a {
    margin-top: 16px;
    color: #ffffff;
  }
  
  .tombol{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
  }
  
  a.footer{
    text-decoration: none;
  }


  .wrapper-modal{
    margin-top: 20px;
    width: 568px;
    height: 536px;
    background-color: #fff;
    border: solid 1px #6CC049;
    border-radius: 12px;
    position: absolute ;
  }
  
  .wrapper-modal.title{
    font-weight: 600;
    font-size: 20px;
    color: #353535;
  }
  
  .button-group button{
    border-radius: 30px;
    padding: 10px 36px;
    border: solid 0.75px #6CC049;
    background-color: #fff;
    color: #6CC049;
    font-weight: 600;
    font-size: 10px;
  
  }

  .button-group button:focus{
    background-color: #6CC049;
    color: white;
  
  }

  button.tampil{
    width: 516px;
    height: 54px;
    border-radius: 8px;
    background-color:#D1D1D1;
    color: white;
    border: none;
  }
  
  button.tampil:focus{
    background-color: #6CC049;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: absolute;
    /* Stay in place */
    top: 700px;
    z-index: 1;
    /* Sit on top */
    padding-top: 50px;
    /* Location of the box */
    /* left: 0;
    top: 0; */
    /* width: 100%; */
    transition: all 0.25s;
    /* Full width */
    /* height: 100%; */
    /* Full height */
    /* overflow: auto;   */
    /* Enable scroll if needed */
    /* background-color: rgb(0, 0, 0); */
    /* Fallback color */
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.carousel-foto{
    margin-top: 50px;
}

.carousel-control-prev-icon {
 background-image: url("/asset/img/prev.png") !important;
}

.carousel-control-next-icon {
 background-image: url("/asset/img/next.png") !important;

}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px; /* change width */
    height: 10px; /* change height */
    padding: 0;
    margin-right: 3px;
    margin-left: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 100%;  /* add border-radius */
}

.carousel-indicators .active {
    background-color: #6CC049;
}

.alat-lainnya{
  margin-top: 84px;
}

.alat-lainnya h2{
  font-weight: 600;
  font-size: 28px;
  color: #488031;
}

.dropdown-toggle::after {
  /* background-image: url(/asset/img/dropdown.png); */
  display: none;
}

a.navbar-aktif{
  font-weight: 600; 
  color: #6CC049;
  display:block;
  padding:.5rem 1rem;
  text-decoration: none;
}

.nav-link{
  font-weight: 600;
}

.dropdown-menu{
  border: none;
  
}

.dropdown-item{
  font-weight: 600;
  font-size: 16px;
  color: #808080;
  
}